<h1>Detalhes da Candidatura</h1>

<p><strong>Vaga:</strong> <%= @candidatura.vaga.titulo %></p>
<p><strong>Candidato:</strong> <%= @candidatura.candidato.nome %></p>
<p><strong>Mensagem:</strong> <%= @candidatura.mensagem %></p>

<%= link_to 'Editar Candidatura', edit_candidatura_path(@candidatura) %>
